*{
    margin: 0px;
    padding: 0px;
    user-select: none;
    color: #b7b5b3;
    /* border: 3px solid red; */
    box-sizing: border-box;

    font-family: ‘Noto Sans TC’, sans-serif;
    font-weight:800; 
}

a {
    text-decoration: none;
}

img{
    -webkit-user-drag: none;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input{
    background : none;
    border: none;
}

.email, .password, .passwordCheck{
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    background: white;
}

.loginScreen, .signupScreen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

input{
    margin: 10px;
}

.signup, .submit, .login{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;   
}

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.donotTransform:hover{
    transform: none;
}

.reset, .home{
    color: #4c3616;
    font-size: 50px;
}

.reset{
    margin-right: 2%;
}

.home{
    margin-left: 2%;
}

.resetScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b2127;
    cursor: pointer;
    position: fixed;
    bottom: 20%;
    width: 100%;
    z-index: 10000;
}

.MessageScreen{
    display: none;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.Message{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 1%;
    background-color: #bc1b15;
    width: 80%;
    height: 30%;
    border-radius: 10px;
    opacity: 0.9;
}

.MessageBTN{
    height: 30%;
    width: 100%;
    display: flex;
}

.MessageText{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    height: 70%;
    width: 80%;
    padding: 1%;
}

.Check, .Close{
    font-size: 25px;
    box-sizing: none;
    border-radius: 10px;
    margin: 1%;
    border: 3px solid #4c3616;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.Check:hover, .Close:hover{
    background-color: rgb(255, 252, 252);
    transition: 0.2s;
}

.worddoor_container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.worddoor_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 2px solid #c8e9ff;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #c8e9ff;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.worddoor_container a:hover {
    color: #cb0303;
    background: transparent;
    box-shadow: 0 0 20px 10px #8b0000;
}