*{
    color: white;
}

.loginScreen{
    background-image: url("../asset/imgs/login.png");
    background-size: 100% 100%;
    display: flex;
    align-items: start;
}

.loginContainer{
    background-color: black;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}