html{
    overflow-y: hidden;
}

.level1Scr {
    background-image: url(../../../asset/imgs/level1.png);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.Q1{
    width: 88%;  
    height: 87%;   
    position: absolute;   
    top: 1%;   
    left: 1%;
}

#timer {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    position: absolute;   
    top: 20%;   
    left: 50%;
    text-shadow: 0 0 20px white;
    color: rgb(188, 87, 87);
}

input, .A5{
    text-decoration: none;
    position: fixed;
    width: 4.1%;
    height: 6%;
    font-size: 48px;
    text-align: center;
    z-index: 10;
    outline: none;
}

.A1{   
    top: 59%;
    left: 36.8%;
}

.A2{
    top: 55%;
    left: 42.3%;  
}

.A3{
    top: 59%;
    left: 48.8%;
}

.A4{
    top: 57%;
    left: 54.2%;
}

.A5{
    color: brown;
    cursor: pointer;
    top: 68%;
    left: 40%;
    width: fit-content;
    height: fit-content;
}

.Message{
    margin-left: 2%;
    margin-right: 2%;
}

.game{
    display: none;
}

.worddoor_container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.worddoor_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 2px solid #c8e9ff;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #c8e9ff;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.worddoor_container a:hover {
    color: #cb0303;
    background: transparent;
    box-shadow: 0 0 20px 10px #8b0000;
}