html{
    overflow-y: hidden;
}

.mazeScr {
    background-image: url(../../../asset/imgs/level2.png);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}