html{
    overflow: hidden;
}

.level3Scr {
    background-image: url(../../../asset/imgs/ending.png);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.woman {
    cursor: pointer;
    width: 12%;
    transition: transform 0.5s ease;
}

.woman:hover {
    transform: translateX(25px);
}


/* 進度條 */

.countdown {
    opacity: 0.7;
    width: 100%;
    height: 2%;
    background-color: #f9d5d5;
    border-radius: 6px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #a70606;
    width: 100%;
    transition: width 1s linear;
}

.time-remaining {
    position: absolute;
    top: -1.4%;
    width: 99%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #e80404;
}

.dialogue1{
    position: relative;
    align-items: start;
}

.dialogue2{
    display: flex;
}

.Message{
    margin: 3%;
}
    