.breadScreen{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.breadImg{
    width: 80%;
    height: 80%;
}

.breadImg:hover{
    transform: none;
}

.breadClose{
    z-index: 100;
    cursor: pointer;
    position: fixed;
    right: 10%;
    top: 9%;
}