.cupScreen{
    display: none;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.cupMessage{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 1%;
    background-color: #bc1b15;
    width: 80%;
    height: 30%;
    border-radius: 10px;
}

.cupMessageBTN{
    height: 30%;
    width: 100%;
    display: flex;
}

.cupMessageText{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    height: 70%;
    width: 80%;
    padding: 1%;
}

.cupCheck, .cupClose{
    font-size: 25px;
    box-sizing: none;
    border-radius: 10px;
    margin: 1%;
    border: 3px solid #4c3616;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.cupCheck:hover, .cupClose:hover{
    background-color: rgb(255, 252, 252);
    transition: 0.2s;
}