.gameScreen {
    background-image: url(../../../asset/imgs/roomPng.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

img{
    cursor: pointer;
    z-index: 10;
}

img:hover{
    transform: translateZ(50px);
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0 0 50px rgb(86, 23, 14);
}

.macbook{
    width: 12%;
    height: 12%;
    position: absolute;   
    top: 45%;
    left: 20%;
    transform: rotate(-2deg);
}

.player{
    width: 8%;
    height: 8.5%;
    position: absolute;   
    top: 48%;
    left: 72%;
}

.mus{
    width: 3%;
    height: 3%;   
    position: absolute;   
    top: 52%; 
    left:56%;
}

.girlpng{
    width: 15%;  
    height: 20%;   
    position: absolute;   
    top: 20%;   
    left: 20%;
}