html{
    overflow-y: hidden;
}

.chooseScreen {
    background-image: url(../../../asset/imgs/pickteam.png);
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

img{
    cursor: pointer;
    z-index: 10;
}

img:hover{
    transform: translateZ(50px);
    transform: translateY(-5px);
    transition: 0.5s;

}

.Alina{
    width: 24%;
    height: 74%;
    position: absolute; 
    overflow: hidden;
    background-clip: content-box;  
    bottom: 0%;
    left: 2%;
    transform: rotate(-2deg);
}
.mayorson{
    width: 20%;
    height: 70%;
    position: absolute;   
    bottom: 0%;
    left: 58%;
    transform: rotate(-2deg);
}

.kate{
    width: 24%;
    height: 74%;
    position: absolute;   
    bottom: 0%;
    left: 70%;
    transform: rotate(-2deg);
}

.Brain{
    width: 25%;
    height: 74%;
    position: absolute;   
    bottom: 0%;
    left: 20%;
    transform: rotate(-2deg);
}

.chooseMessageScreen{
    display: none;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.chooseMessage{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 1%;
    background-color: #fdf67e;
    width: 60%;
    height: 30%;
    border-radius: 10px;
}

.chooseMessageBTN{
    height: 30%;
    width: 100%;
    display: flex;
}

.chooseMessageText{
    cursor: pointer;
    height: 70%;
    width: 80%;
    padding: 1%;
}

.chooseCheck, .chooseClose{
    font-size: 25px;
    box-sizing: none;
    border-radius: 10px;
    margin: 1%;
    border: 3px solid #4c3616;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.chooseCheck:hover, .chooseClose:hover{
    background-color: gray;
    transition: 0.2s;
}

.character{
    display: flex;
}

.chooseCharacter:hover{
    transform: none;
}